<html ng-app="nameApp">
<head>
    <title>
        AngularJS Full Name Example 
    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
</head>


<body>
     <div ng-controller="nameCtrl">
        <!--input field for the first name & last -->
        First Name :
        <input type="text" ng-model="firstName"  placeholder="Enter Your First Name ">
        <br> <br>
        Last Name : 
        <input type="text" ng-model="lastName"  placeholder="Enter Your Last Name ">
        <br> <br>

        <!--Button to display full name  -->
        <button ng-click="displayFullName()">Display Full Name</button>

        <!--Display full name -->
        <h1>Full name is : {{ fullName }}</h1>

     </div>
    

    <script>
        angular.module('nameApp',[])
        .controller('nameCtrl',function($scope){
            //default value for the first name and last name 
            $scope.firstName= 'Raj';
            $scope.lastName= 'Kumar';

            //Function to display the full name 
            $scope.displayFullName = function() {
                $scope.fullName = $scope.firstName +' '+ $scope.lastName;
            };


        });
    </script>

</body>

</html>